.btn {
  background-color: $mainBlue;
  color: #FFF;
  text-decoration: none;
  /* This is to remove the underlin in the hyperlink */
  padding: 0.75rem 1.25rem;
  /* First value : Vertical Padding(for Top & Bottom), Second Value : Horizontal Padding (Left & Right) */
  display: inline-block;
  &__orange {
    /* Orance color will be applied on top of above btn style*/
    background-color: $mainOrange;
  }
  &__large {
    /* This style will be used for large buttons */
    font-size: 1.25rem;
    padding: 1.1rem 1.9rem;
  }
}
